@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-manrope:'Manrope', sans-serif;
$font-weather:'Merriweather', serif;
$main-color:#F2F2F2;;
$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-nav-collapse:#191a1a;
$primary-color: #658CBB;
$secondary-color:#d9980b;
$text-color: #000000;
$title-color:#4A4A4A;
